:root {
    --primary-color: #ec1f55;
    --text-color: #333
}

body{
    background-color: #f5f5f5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 480px;
    margin: 0 auto;
}

.dashboard{
    background-color: #fff;
    padding: 12px;
    position: fixed;
    max-width: 480px;
    width: 100%;
    top: 0;

}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    font-size: 12px;
    color: var(--primary-color);
}

header h2 {
    font-size: 20px;
    color: var(--text-color);
}

.cd {
    width: 200px;
    display: flex;
    margin: auto;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 50%;
}

.control {
    display: flex;
    justify-content: space-around;
    padding: 20px 18px 12px;
    align-items: center;
}

.container .icon-pause {
    display: none;
}

.container.playing .icon-play {
    display: none;
}

.container.playing .icon-pause {
    display: inline-block;
}
.control .btn {
    color: #666;
    font-size: 18px;
}


.btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    background-color: var(--primary-color);
    height: 54px;
    width: 54px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    display: flex;
}

.progress-wrap {
    padding: 8px 0;
}

#progress {
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent; 
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease;
    position: relative;
    z-index: 1;
}

.progress-value{
    height: 6px;
    width: 100%;
    border-radius: 5px;
    background-color: #d3d3d3;
    position: relative;
    top: -12.2px;
}

.progress-value-song {
    position: absolute;
    width: 0;
    height: 6px;
    border-radius: 5px;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
}

#progress::-ms-track{
    width: 100%;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

#progress::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
    position: relative;
    left: -1px;
}

.time-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
    line-height: 1.4;
}

.volume-wrap {
    margin-left: 8%;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    color: #666;
    font-size: 18px;
}

.volume-icon-on,
.volume-icon-off {
    margin-left: -8px;
}


.volume-wrap .fa-volume-xmark {
    display: none;
}

.volume-wrap.mute .fa-volume-xmark{
    display:inline-block;
}

.volume-wrap.mute .fa-volume-low {
    display: none;
}

#volume {
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent; 
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease;
    position: relative;
    left: 22px;
    padding: 12px 0;
    top: -29px;
    z-index: 1;
}

#volume::-ms-track{
    width: 100%;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

#volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
    position: relative;
    /* left: -1px; */
}

.volume-background {
    width: 100%;
    height: 6px;
    background-color: #d3d3d3;
    position: relative;
    left: 12px;
    top: -66.3px;    
    left: 22px;
    top: -54.3px;
    border-radius: 5px;
}

.volume-value {
    width: 100%;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 5px;
    position: relative;
}

.playlist {
    padding: 12px;
    margin-top: 500px;
}

.song {
    background-color: #fff;
    padding: 12px 16px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.song:active {
    opacity: 0.7;
}

.song.active {
    background-color: var(--primary-color);
}

.song.active .title,
.song.active .option,
.song.active .author {
    color: #fbf4f5;
}

.song .thumb {
    width: 44px;
    height: 44px;
    background-size: cover;
    border-radius: 50%;
}

.song .body {
    flex: 1;
    margin-left: 18px;
}


.song .title {
    color: var(--text-color);
    font-size: 17px;
}

.song .author {
    color: #999;
    font-size: 12px;
    margin-top: 8px;
}

.song .option{
    color: #999;
    padding: 0 8px;
}


@media (max-width: 740px) {
    .progress-wrap {
        padding: 8px 16px;
    }
}